<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List of exercises</title>
</head>
<body>
<main class="defaultMain">
  <header class="exercises">
    <h1 id="headerExercises">
      Exercises
    </h1>
  </header>
  <section class="divExercises">
    <figure class="pectoral">
      <figcaption>Exercise</figcaption>
      <img routerLink="/exerciseByMuscle" src="../../assets/images/pectoral.png" class="pectoralImagen" alt="Imagen de Pectoral">
    </figure>

    <figure class="pectoral">
      <figcaption>Exercise</figcaption>
      <img routerLink="/exerciseByMuscle" src="../../assets/images/pectoral.png" class="espaldaImagen" alt="Imagen de Espalda">

    </figure>

    <figure class="espalda">
      <figcaption>Exercise</figcaption>
      <img routerLink="/exerciseByMuscle" src="../../assets/images/pectoral.png" class="espaldaImagen" alt="Imagen de Espalda">

    </figure>

    <figure class="isquiotibial">
      <figcaption>Exercise</figcaption>
      <img routerLink="/exerciseByMuscle" src="../../assets/images/pectoral.png" class="isquioImagen" alt="Imagen de Isquiotibial">

    </figure>

    <figure class="triceps">
      <figcaption>Exercise</figcaption>
      <img routerLink="/exerciseByMuscle" src="../../assets/images/pectoral.png" class="tricepsImagen" alt="Imagen de Triceps">

    </figure>

    <figure class="biceps">
      <figcaption>Exercise</figcaption>
      <img routerLink="/exerciseByMuscle" src="../../assets/images/pectoral.png" class="bicepsImagen" alt="Imagen de Biceps">

    </figure>

    <figure class="cuadriceps">
      <figcaption>Exercise</figcaption>
      <img routerLink="/exerciseByMuscle" src="../../assets/images/pectoral.png" class="hombrosImagen" alt="Imagen de Hombros">

    </figure>
    <figure class="gemelos">
      <figcaption>Exercise</figcaption>
      <img routerLink="/exerciseByMuscle" src="../../assets/images/pectoral.png" class="gemeloImagen" alt="Imagen de Gemelos">
    </figure>
  </section>
</main>
</body>

</html>
