<main class="justify-content-center container-user-information">
  <header>
    <h1 class="form-title">We are almost done</h1>
    <h5 class="form-title">Before getting started, we need little more information of you!</h5>
  </header>
  <form class="form-container" [formGroup]="userInformationForm" (ngSubmit)="registerUserInfo()">
    <div class="personal-information">
      <div class="form-group">
        <label for="user-name">Username</label>
        <input type="text" formControlName="username" class="form-control" id="user-name" placeholder="Write your account's username">
      </div>
      <div class="form-group">
        <label for="first-name">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" id="first-name" placeholder="Write your name">
      </div>
      <div class="form-group">
        <label for="last-name">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" id="last-name" placeholder="Write your last name">
      </div>
      <div class="form-group">
        <label for="birthdate">Birthdate</label>
        <input type="date" formControlName="birthdate" class="form-control" id="birthdate">
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <select formControlName="gender" class="form-select" id="gender" aria-label="Default select">
          <option selected disabled>Select a gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div class="form-group">
        <label for="height">Height(cm)</label>
        <input type="number" formControlName="height" class="form-control" id="height" placeholder="Write your height">
      </div>
      <div class="form-group">
        <label for="weight">Weight(kg)</label>
        <input type="number" formControlName="weight" class="form-control" id="weight" placeholder="Write your weight">
      </div>
      <div class="form-group">
        <input class="btn button-filled btn-block button-next" type="submit" value="Get started">
      </div>
    </div>
  </form>
<main>
