<!DOCTYPE html>

<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title class ="logo">GymDiary</title>
</head>
<body>
<main class="defaultMain">
  <div class = "mid_home">
    <h1 class = "title_home">Track Your Gym Progress</h1>
    <button class = "button-filled"  routerLink="/register">Get Started</button>
  </div>
  <section class = "specification">
    <div class = "box-spec">
      <div  class = "sp1">
        <p class="p1">Some text about specification</p>

      </div>

      <div class = "sp2">
        <p class="p2">Some text about specification</p>
      </div>

      <div class = "sp4">
        <p class="p1">Some text about specification</p>
      </div>

      <div class = "sp3">
        <p class="p2">Some text about specification</p>
      </div>
    </div>
  </section>
</main>
</body>
</html>
