<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Profile</title>
</head>
<body>
<main class="profileMainContent">
  <section class="userProfile">
    <figure class="profileImgContainer">
      <img id="profilePicture" [src]="profileImageUrl" alt="Profile Picture">
      <figcaption id="changeProfilePicButton">
        <h2>Change pic</h2>
        <input type="file" (change)="onFileSelected($event)">
      </figcaption>
    </figure>
    <section class="userImportantData">
      <header id="profileHeader">
        <h1 class="defaultH1">
          {{ firstName }} {{lastName}}
        </h1>
      </header>
      <section class="userInformation">
        <ul class="userComplexionList">
          <li>Gender: {{ genre }}</li>
          <li>Height: {{ height }}</li>
          <li>Weight: {{ weight }}</li>
          <li>Birthday: {{ birthday }}</li>
        </ul>
      </section>
      <section class="userInformation">
        <header id="userMailPassword">
          <h2 class="accountCredentials">
            Account credentials
          </h2>
        </header>
        <form class="emailPasswordChange" (ngSubmit)="changePassword()">
          <div class="labelInputGroup">
            <label for="email"> Email </label>
            <input class="defaultInput" type="email" id="email" value= "{{ email }}" >
          </div>
          <div id="userPassword">
            <div class="labelInputGroup">
              <div>
                <label for="newPassword"> New Password </label>
                <input class="defaultInput" name="newPassword" type="password" id="newPassword" [(ngModel)]="newPassword">
              </div>
              <div>
                <label for="confirmPassword"> Confirm Password </label>
                <input class="defaultInput" name="confirmPassword" type="password" id="confirmPassword" [(ngModel)]="confirmPassword">
              </div>
            </div>
          </div>
          <button type="submit" class="button-filled">Confirm Changes</button>
        </form>
        <div *ngIf="passwordChangeSuccess" class="success-message">
          Password changed successfully!
        </div>
        <div *ngIf="passwordChangeNoSuccess" class="no-success-message">
          An error has occurred!
        </div>

        <div *ngIf="passwordsDontMatch" class="no-success-message">
          New password and confirm password do not match
        </div>
      </section>
    </section>
  </section>
</main>
</body>
</html>
