<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Exercise</title>
</head>
<body>

<div class="dayAndExercise">
  <h1>Day 1 /Legs</h1>
</div>
<div class="restTime">
  <p><span class="bold">Rest time</span> 180s</p>
</div>



<div class="imageExerciseByMuscle">
  <div class="setsExerciseMuscle">
    <div xlu-include-file="sets.html"></div>
    <div xlu-include-file="sets.html"></div>
    <div xlu-include-file="sets.html"></div>
    <div xlu-include-file="sets.html"></div>
  </div>
  <img src="../../assets/images/legExtension.webp" class="legExtensionImage">
</div>


</body>

</html>
